<div class="ui grid">
  <div class="ui grid" id="about-us" style="margin: 0 225px; width: calc(100% - 450px); padding: 0 10px; position: relative">
    <div class="centered row">
      <div class="column sixteen wide center aligned">
        <h1>Mission: to cultivate entrepreneurial mindsets and skill sets</h1>
      </div>

      
      <div style="position: absolute; top:0; left: -225px; width: 225px">
        <img class="pictures" style="padding-left: 20px;"src="../assets/images/retreat_circle.jpg">
        <img class="pictures" style="padding-right: 20px;" src="../assets/images/park.jpg">
        <img class="pictures" style="padding-left: 20px;"src="../assets/images/happy_allhands.jpg">
      </div>
    
      <div id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-MVcuOELEZY" frameborder="0" allowfullscreen></iframe>
      </div>

      <div style="position: absolute; top: 0; right: -225px; width: 225px">
        <img class="pictures" style="padding-right: 20px;"src="../assets/images/hands_linked.jpg">
        <img class="pictures" style="padding-left: 20px;"src="../assets/images/retreat_with_guac.jpg">
        <img class="pictures" style="padding-right: 20px;"src="../assets/images/twister.jpg">
      </div>
       
    </div>
    <div class="centered row">
      <!--<h2 class="column sixteen wide center aligned">EPIC is...</h2>
       <p class="column ten wide">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a mi
        lacinia, sollicitudin nulla nec, pellentesque ante. Proin in iaculis
        ipsum. Etiam tempor justo quis magna consectetur, aliquam rhoncus sapien
        viverra. Suspendisse lectus odio, vulputate vel iaculis laoreet, cursus
        eget sem. Fusce non tincidunt metus, ac tempus urna. Ut tincidunt metus
        in sem dignissim, ut tempus nibh efficitur. Quisque sed ultricies nunc.
        Mauris vitae orci eget tellus porta scelerisque rutrum eu massa.
        Pellentesque sit amet libero lobortis, convallis tortor sed, tempus
        nibh. Cras justo ex, laoreet ut cursus sed, finibus et ex. Nulla
        convallis orci elit, sed porttitor turpis tempus vel. Maecenas sed
        mauris imperdiet, varius odio sit amet, venenatis ipsum. Vestibulum
        ultricies ipsum erat, ut tempus massa pretium eget.
      </p> -->
    </div>
  </div>
</div>