<div class="ui grid">
  <div class="top aligned row">
    <div class="centered column">
        <img src="assets/logos/epic_full.png" class="ui centered large image"></img>
    </div>
  </div>

  <div class="centered row">
        <div class="ui text container">
              <div id="typed" style="height: 2em; font-size: 2em;"></div>
        </div>
  </div>

  <div class="centered row">
    <!-- spacer -->
    <div class="two wide column"></div>
    <div class="center aligned five wide column feed">
        <div class="ui segment" id="event-feed">
        </div>
    </div>
    <!-- spacer -->
    <div class="two wide column"></div>
    <div class="center aligned five wide column feed">
        <div class="ui segment" id="blog-feed"></div>
    </div>
    <!-- spacer -->
    <div class="two wide column"></div>
  </div>
</div>
