@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
    font-style: bold;
}
@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway-Bold.ttf);
    font-style: bold;
}

.ui.grid {
  margin:0;
  height:100%;
  width:100%;
}

#nav {
  position: fixed;
  z-index: 1000;
  top:1em;
  right:1em;
  height: 7%;
  width: auto;
  outline:none;
}

/*
 *  Format Pages
 */


.feed {
  max-height: 400px;
  overflow: auto;
  padding: 10px 50px;
}

.feed > .item {
  height: 85px;
}

.item > .calendar {
  font-size: 2em;
  height: inherit;
  width: 80px;
  border: 4px black solid;
  float: left;
  text-align: center;
  border-radius: 5px;
}

.calendar > .month {
  height: 28px;
  background-color: red;
  color: white;
}

.calendar > .date {
  height: 56px;
  padding: 10px;
}

.item > .description {
  height: inherit;
  margin-left: 90px;
}

.thumbnail {
  height:85px;
  width:auto;
}

#menu {
  width:20em;
  position: fixed;
  z-index: 99;
  top: 50%;
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

#menu a {
  font-size: 10pt;
  text-decoration: none;
  color: black;
}

#menu div:hover {
  color:red;

  -ms-transform: translateX(4em);
  -ms-transition: transform 2s;
  -webkit-transform: translateX(4em);
  -webkit-transition: transform 2s;
  transform: translateX(4em);
  transition: transform 2s;
}

#menu div {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left:1.5em;
  padding-right:1.5em;
  text-align:center;
  margin-left: 3em;
  margin-top: 2em;
  width: 8em;
  background-color: #E0E2E3;

  -ms-transform: translateX(0);
  -ms-transition: transform 2s;
  -webkit-transform: translateX(0);
  -webkit-transition: transform 2s;
  transform: translateX(0);
  transition: transform 2s;
}

#chartdiv {
  height: 600px;
}
