@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
    font-style: bold;
}
@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway-Bold.ttf);
    font-style: bold;
}

* {
  font-family: Raleway;
}


.ft-page, .ft-section {
  height: 100vh;
  width: 100vw;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100vw 100vh;
}

.ui.grid {
  margin:0;
  height:100%;
  width:100%;
}


#menu {
  position: fixed;
  z-index: 1000;
  top:1em;
  right:1em;
  height: 7%;
  width: auto;
  outline:none;
}

/*
 *  Format Pages
 */

#home {
  background-color: RGB(142, 142, 142);
  height:100%; width:auto;
}

#aboutus {
  background-color: RGB(53, 48, 44);
  height:100%; width:auto;
}
