<html>
<head>
<!-- Temporary config file for keys -->
<script src="js/env.js"></script>

<!-- Stylesheets -->
<!-- <link rel="stylesheet" href="bower_components/Flowtime.js/css/flowtime.css"> -->
<link rel="stylesheet" href="bower_components/semantic/dist/semantic.css">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/cursor.css">

<!-- Scripts -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/semantic/dist/semantic.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/amcharts/dist/amcharts/amcharts.js"></script>
<script src="bower_components/amcharts/dist/amcharts/pie.js"></script>
<script src="http://localhost:2368/shared/ghost-url.min.js"></script>
<script src="js/teams.js"></script>
<script src="js/blog_feed.js"></script>
<script src="js/calendar_feed.js"></script>
<script src="https://apis.google.com/js/client.js?onload=loadCalendarApi"></script>
<script src="bower_components/typed.js/js/typed.js"></script>
<script>
  $(function(){
      $("#typed").typed({
        strings: [" ", "Entrepreneurs.", " ", "Pioneers.", " ", "Innovators.", " ", "Creators."],
        typeSpeed: 50,
        loop: true,
        showCursor: false
      });
  });
</script>

</head>

<body>
  <% include views/menu.html %>
  <div class="ui grid">
    <% include views/home.html %>
    <% include views/about.html %>
    <% include views/teams.html %>
  </div>
</body>

<!-- Flowtime (Must be included after DOM is loaded) -->
<!-- <script src="bower_components/Flowtime.js/js/brav1toolbox.js"></script>
<script src="bower_components/Flowtime.js/js/flowtime.js"></script>
<script src="js/flowtime.js"></script> -->

</html>
