section.ui.grid
  margin 0
  width  100%
  // NOTE(jordan): we should pick a better way of doing this
  min-height 600px

.feed
  padding 10px 50px
  max-height 400px
  overflow auto


.feed > .item
  height: 85px;

.item > .calendar
  font-size: 2em;
  height: inherit;
  width: 80px;
  border: 4px black solid;
  float: left;
  text-align: center;
  border-radius: 5px;

.calendar > .month
  height: 28px;
  background-color: red;
  color: white;


.calendar > .date
  height: 56px;
  padding: 10px;


.item > .description 
  height: inherit;
  margin-left: 90px;


.thumbnail
  height:85px;
  width:auto;

#chart
  height 600px

#team-info
  margin 200px 0
  height 200px

#about-us
  position relative

  .pictures
    image-container-width = 225px
    image-height = 150px
    fake-padding = 20px

    position absolute
    top 0
    width image-container-width

    &.left
      left fake-padding

      img:nth-child(odd)
        left (image-height/3)px

    &.right
      right fake-padding

      img:nth-child(odd)
        right (image-height/3)px

    img
      margin 20px 0
      height image-height
      border 5px solid white

      position relative

      &:nth-child(even)
        transform rotateZ(2deg)

      &:nth-child(odd)
        transform rotateZ(-2deg)

      @media screen and (max-width: 1000px)
        display none

section.ui.grid:nth-child(even)
  position relative

  //background #f55
  background linear-gradient(to top right, #ff5555, #faa)

  color white

  // NOTE(jordan): this works better hard-coded. There's probably an arithmetic
  // formula for picking this value based on screen width and rotation amount, but
  // this is fine for now.
  margin 250px 0

  &::before
    position absolute
    display block

    background inherit

    width 110%
    height 130%

    left -5%
    top -15%

    transform rotateZ(-3deg)

    content ''
