section.ui.grid
  margin 0
  width  100%
  min-height 60%

.feed > .segment
  padding 10px 50px
  max-height 400px
  overflow auto

#chart
  height 600px

#team-info
  height 600px
  margin-top 200px

section.ui.grid:nth-child(even)
  position relative

  //background #f55
  background linear-gradient(to top right, #ff5555, #faa)

  color white

  // NOTE(jordan): this works better hard-coded. There's probably an arithmetic
  // formula for picking this value based on screen width and rotation amount, but
  // this is fine for now.
  margin 250px 0

  &::before
    position absolute
    display block

    background inherit

    width 110%
    height 130%

    left -5%
    top -15%

    transform rotateZ(-3deg)

    content ''

