<section id="about">
    <div class="ui stackable grid">
        <div id="who-and-what" class="center aligned two column row">
            <div class="one wide column"></div>
            <div class="six wide middle aligned column">
                <h1 style="font-weight: normal">Who we are</h1>
                <p>
                    Entrepreneurs. Pioneers. Innovators. Creators. EPIC is the premiere entrepreneurship student group at Northwestern University. We are a community that fosters entrepreneurial spirit and culture on campus
                </p>
            </div>
            <div class="two wide column"></div>
            <div class="six wide middle aligned column">
                <h1 style="font-weight: normal">What we do</h1>
                <p>
                    Our mission is to cultivate entrepreneurial mindsets and skillsets. Among speaker events and networking opportunities, EPIC is the sponsoring organization of Wildhacks, Sprout, Launch, and Hack NU.
                </p>
            </div>
            <div class="one wide column"></div>
        </div>
    </div>
</section>
