<div class="ui stackable grid">
    <div class="row">
        <div class="column sixteen wide center aligned">
            <h1>Mission: To cultivate entrepreneurial mindsets and skill sets</h1>
        </div>
    </div>
    <div class="row">
        <div class="one wide column"></div>
        <div class="eight wide column">
            <div class="ui embed"
                data-source="youtube"
                data-url="https://www.youtube.com/embed/-MVcuOELEZY"
                data-placeholder="assets/logos/epic_full.png">
            </div>
        </div>
        <div id="about-text" class="six wide column">
            EPIC is Northwestern's undergraduate student-run entrepreneurship organization. Ultimately, we envision EPIC to foster a community where all students can be entrepreneurs. We work towards this goal by creating events and opportunities such as Wildhacks (our annual 24-hour hackathon), Northwestern University Venture Challenge (our pitch competition with prize money that is up to $200,000), and Launch (our in-house student year-long accelerator).
        </div>
    </div>
</div>
