<div class="ui stackable grid">
    <div class="left row">
        <h1 id="mission-statement">Mission: To cultivate entrepreneurial mindsets and skill sets</h1>
        <div class="column nine wide center aligned video">
            <iframe frameborder="0" allowfullscreen src="https://www.youtube.com/embed/-MVcuOELEZY"></iframe>
        </div>
        <div class="column six wide center middle aligned" id="about-text">
            EPIC is Northwestern's undergraduate student-run entrepreneurship organization. Ultimately, we envision EPIC to foster a community where all students can be entrepreneurs. We work towards this goal by creating events and opportunities such as
            Wildhacks (our annual 24-hour hackathon), Northwestern University Venture Challenge (our pitch competition with prize money that is up to $200,000), and Launch (our in-house student year-long accelerator).
        </div>
    </div>
</div>
