<div class="ft-section" data-title="Contact">
  <div class="ft-page" style="" data-title="" >
  <div id="contact">
    <div class="ui middle aligned centered grid">
        <div id="header" class="ui container">
          <br></br>
          <br></br>
          <h1 class="inverted">CONTACT US</h1>
          <h2>EPIC 2014 | Northwestern University | 2135 Sheridan Road</h2>
          <form id="formDiv" action="/send" method="post">
            <div id="insideDiv">
              NAME
              <br>
              <input name="sender_name" class="inputForm" type="text"></input>
            </div>
            <div id="insideDiv" style="margin-left:20%;">
              EMAIL
              <br>
              <input name="sender_email" class="inputForm" type="email"></input>
            </div>
            <br>
            <br>
            <div id="subscribeDiv">
              <input id="insideComment" type="text"></input>
              <input name="email_text" id="submitCheck" type="checkbox" value="submitBool">
                SUBSCRIBE TO OUR NEWSLETTER!
              </input>
              <br>
              <button id="submitButton" type="submit">SUBMIT</button>
            </form>
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
