<div id="footer" class="ui segment">
    <div class="ui grid">
        <div class="centered row">
            <div class="column"></div>
            <div class="three wide column">
                <img class="ui left large image" src="assets/logos/Northwestern-Formal_horizontal.png"></img>
            </div>
            <div class="four wide center aligned column">
                <h1>
                    EPIC
                </h1>
                <p class="contact">
                    The Garage<br>
                    2311 Campus Drive<br>
                    Evanston, IL 60208<br>
                    <br>
                    <a href="mailto:contact@nuisepic.com">
                        <i class="big mail square link icon custom-colors"></i>
                    </a>
                    <a href="https://www.facebook.com/nuisepic">
                        <i class="big facebook square link icon custom-colors"></i>
                    </a>
                    <a href="https://twitter.com/EPICatNU">
                        <i class="big twitter square link icon custom-colors"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/epic-northwestern">
                        <i class="big linkedin square link icon custom-colors"></i>
                    </a>
                </p>
            </div>
            <div class="three wide column">
                <img class="ui centered large image" src="assets/logos/farley-logo-300x93.png"></img>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>
