<section id="home">
    <div class="ui grid">
        <div class="centered row">
            <img src="assets/logos/epic_full.png" id="logo">
        </div>
        <div class="centered row">
            <!-- spacer-->
            <div class="two wide column"></div>
            <div class="four wide column">
                <h1 class="ui dividing center aligned huge header">Upcoming Events</h1>
                <div class="feed">
                    <div id="event-feed" class="ui items"></div>
                </div>
            </div>
            <div class="two wide column"></div>
            <div class="six wide column">
                <div id="culture-video" class="ui embed"></div>
                <br>
                <form id="general-member-form" class="ui form">
                    <input type="text" name="type" value="general" hidden/>
                    <div class="fields">
                        <div class="eight wide field">
                            <input type="text" name="email" placeholder="Email">
                        </div>
                        <div class="eight wide field">
                            <button class="ui right icon button" type="submit"> Become a General Member <i class="circle info icon"></i></button>
                        </div>
                    </div>
                    <div id="general-member-popup" class="ui flowing popup">
                        <p>
                            General membership is an opportunity for students to try out entrepreneurship in an open and supportive environment. They can engage with other student entrepreneurs, listen to kick ass speakers, and take advantage of EPIC’s network.
                        </p>
                    </div>
                    <div class="ui success message">
                        <div class="header">Success!</div>
                        <p>You're all signed up for General Membership.</p>
                    </div>
                    <div class="ui error message">
                        <div class="header">Error!</div>
                        <p>Try again or email contact@nuisepic.com for more help</p>
                    </div>
                </form>
            </div>
            <div class="two wide column"></div>
        </div>
    </div>
</section>
