<div class="ui stackable grid">
    <div class="centered row">
        <h1>EPIC Teams</h1>
    </div>
    <div class="row">
        <svg id="team-diagram"></svg>
        <div class="centered middle aligned eight wide column">
            <div id="team-description">Choose a team to learn more!</div>
        </div>
    </div>
    <div class="ui centered row" id="general-membership-wrapper">
        <div class="column ten wide">
            <h2>General Membership</h2>
            General membership is an opportunity for students to try out entrepreneurship in an open and supportive environment. They can engage with other student entrepreneurs, listen to kick ass speakers, and take advantage of EPIC’s network. Write your email
            below and become a general member today!
        </div>
    </div>
    <br>
    <form id="general-member-input" class="ui form">
        <div class="ui input">
            <input type="text" name="email" placeholder="Email">
        </div>
        <input type="text" name="type" value="general" hidden />
        <button class="ui custom-red button" type="submit" id="general-subscribe">Become a General Member</button>
        <div class="ui success message">
            <div class="header">Success!</div>
            <p>You're all signed up for General Membership.</p>
        </div>
        <div class="ui error message">
            <div class="header">Error!</div>
            <p>Try again or email contact@nuisepic.com for more help</p>
        </div>
    </form>
</div>
