<section id="teams">
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <h1 class="ui dividing center aligned header">Meet Our Teams</h1>
            </div>
        </div>
        <div class="row">
            <div class="eight wide column">
                <svg id="team-diagram"></svg>
            </div>
            <div class="eight wide middle aligned centered column">
                <div class="ui left pointing label" style="width:80%;">
                    <p id="team-description">
                    EPIC consists of 3 internal teams: Tech, Branding and Bizdev; 4 external program teams: Wildhacks, Launch, Hack Northwestern and Sprout; and an executive board. Click on a team in the diagram to learn more!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
