@font-face {
    font-family: MuseoSans;
    src: url("../assets/fonts/museosans-500.otf");
}

h1, h2, h3, h4, h5, h6, p, pre, span, a, input, button {
    font-family: MuseoSans !important;
}

#general-member-button:hover {
    background-color: #fc0d38;
    color: white;
}

section > .ui.grid {
    padding-top: 30px;
}

#menu > .item {
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo {
  max-height: 200px;
}

.feed {
    padding: 10px 50px;
    max-height: 400px;
    overflow: auto;
}
.feed > .item {
    height: 85px;
}
.item > .calendar {
    font-size: 2em;
    height: 90px;
    width: 80px;
    border: 2px #000 solid;
    float: left;
    text-align: center;
}
.calendar > .month {
    height: 28px;
    background-color: #FC0D38;
    color: #fff;
}
.calendar > .date {
    height: 56px;
    padding: 10px;
}
.item > .description {
    height: inherit;
    margin-left: 90px;
}
.item > .thumbnail {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.blog.feed {
  overflow: hidden;
  padding: 0;
}

#team-diagram {
    height: 600px;
    width: 600px;
    margin: 0 auto;
}

#epic-logo, #wildhacks-logo, #sprout-logo, #launch-logo, #hacknu-logo, #branding-slice, #bizdev-slice, #tech-slice {
    cursor:pointer;
}

#about #who-and-what {
    height: 70vh;
    font-size: 14pt;
    color:white;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url('../assets/images/whoweare.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100% auto;
}

#footer {
    margin: 0px;
    border-radius: 0px;
}

.logo-image{
    height: 100px;
    width: 100px;
}

#general-member-form{
    margin: 0 auto;
    padding-bottom: 40px;
}
#general-member-form button {
    background-color: #eb2e3b;
    color: white;
}
.custom-colors{
    color: #eb2e3b;
}
.custom-colors:hover {
    color: #fc0d38;
}

#team-info {
    margin: 150px 0;
    float: left;
}

iframe{
    width:560px;
    height:315px;
}

.ui button{
    color: red;
}

#general-membership-wrapper{
    padding: 10px 10px 30px 10px;
}
#general-membership-wrapper h2{
    text-align: center;
    margin: 15px 0px 8px 0px;
}

@media screen and (min-width: 800px) {
    #team-info {
        padding-left: 60px;
        width: calc(100% - 400px);
    }
    #team-page{
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media all and (max-width: 766px) {
    .feed {
        padding: 0px;
    }
    .ui.items > .item > .image.thumbnail{
        width: 300px !important;
    }
    #team-info {
        margin: 50px 0;
    }
    #team-icon-wrapper {
        float: none;
        margin: 0 auto;
    }
}
