// about
.ui.grid#about-us
  .centered.row
    .column.sixteen.wide.center.aligned
      h1 Mission Statement
    #video
      iframe(width='560', height='315', frameborder='0', allowfullscreen,
        src='https://www.youtube.com/embed/-MVcuOELEZY')
