// about
section.ui.grid#about-us
  .centered.row
    .column.sixteen.wide.center.aligned
      h1 Mission Statement

    .pictures.left
      img(src='assets/images/retreat_circle.jpg')
      img(src='assets/images/park.jpg')
      img(src='assets/images/happy_allhands.jpg')

    #video
      iframe(width='560', height='315', frameborder='0', allowfullscreen,
        src='https://www.youtube.com/embed/-MVcuOELEZY')

    .pictures.right
      img(src='assets/images/hands_linked.jpg')
      img(src='assets/images/retreat_with_guac.jpg')
      img(src='assets/images/twister.jpg')
