.ui.segment#footer
  .ui.center.aligned.container
    .ui.header EPIC
    p.contact
      | The Garage
      | 2311 Campus Drive
      | Evanston, IL 60208
      br
      br
      i.big.mail.square.icon
      i.big.facebook.square.icon
      i.big.twitter.square.icon
      i.big.instagram.square.icon
