.ui.segment#footer
  .ui.center.aligned.container
    .ui.header EPIC
    p.contact
      | The Garage
      | 2311 Campus Drive
      | Evanston, IL 60208
      br
      br
      a(href="mailto:contact@nuisepic.com")
          i.big.red.mail.square.link.icon
      a(href="https://www.facebook.com/nuisepic")
          i.big.red.facebook.square.link.icon
      a(href="https://twitter.com/EPICatNU")
          i.big.red.twitter.square.link.icon
      a(href="https://www.linkedin.com/company/epic-northwestern")
          i.big.red.linkedin.square.link.icon
