// home
section.ui.grid
  .top.aligned.row
    .centered.column
      img.ui.centered.large.image(src='assets/logos/epic_full.png')

  .centered.row
    .ui.text.container
      #typed(style='height: 2em; font-size: 2em;')

  .centered.row
    // spacer
    .column.two.wide

    .five.wide.column
      .row
        .ui.dividing.center.aligned.huge.header Upcoming Events
      .feed.row
        .ui.items#event-feed

    // spacer
    .column.two.wide

    .five.wide.column
      .row
        .ui.dividing.center.aligned.huge.header Recent News
      .feed.row
        .ui.items#blog-feed

    // spacer
    .column.two.wide
