// home
section.ui.grid
  .top.aligned.row
    .centered.column
      img.ui.centered.large.image(src='assets/logos/epic_full.png')

  .centered.row
    .ui.text.container
      #typed(style='height: 2em; font-size: 2em;')

  .centered.row
    // spacer
    .column.two.wide

    .center.aligned.five.wide.column.feed
      .ui.segment#event-feed

    // spacer
    .column.two.wide

    .center.aligned.five.wide.column.feed
      .ui.segment#blog-feed

    // spacer
    .column.two.wide

