// teams
section.ui.grid
  .centered.row
    h1 EPIC Teams

  .centered.row
    .spacer.column.two.wide

    .column.six.wide.centered
      #chart

    #team-info.left.aligned.column.six.wide
      | Click below to learn more about EPIC's teams.

    .spacer.column.two.wide
