// teams
section.ui.grid
  .centered.row
    h1 EPIC Teams

  .centered.row
    #team.left.aligned.column.ten.wide
      | Click below to learn more about EPIC's teams.

  .centered.row
    // ??? this seems a little unnecessary
    .centered.column
      #chart
