body {
  margin-top: 40px;
}

section.ui.grid {
  margin: 0;
  width: 100%;
  min-height: 600px;
  padding-top: 60px;
}

.feed {
  padding: 10px 50px;
  max-height: 400px;
  overflow: auto;
}
.feed > .item {
  height: 85px;
}
.item > .calendar {
  font-size: 2em;
  height: inherit;
  width: 80px;
  border: 4px #000 solid;
  float: left;
  text-align: center;
  border-radius: 5px;
}
.calendar > .month {
  height: 28px;
  background-color: #f00;
  color: #fff;
}
.calendar > .date {
  height: 56px;
  padding: 10px;
}
.item > .description {
  height: inherit;
  margin-left: 90px;
}
.item > .thumbnail {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
}

#chart {
  height: 600px;
}
#team-info {
  margin: 200px 0;
  height: 200px;
}
#about-us {
  position: relative;
}
#about-us .pictures {
  position: absolute;
  top: 0;
  width: 225px;
}
#about-us .video{
  padding-left: 30px;
  padding-right: 30px;
}
#about-us-text{
  width: 400px;
}
@media screen and (max-width: 1000px) {
  #about-us .pictures img {
    display: none;
  }
}
#footer {
  margin: 0px;
  border-radius: 0px;
}
#footer .contact {
  text-align: center;
}
section.ui.grid:nth-child(even) {
  position: relative;
  background: linear-gradient(to top right, #f55, rgb(219, 40, 40));
  color: #fff;
  margin: 250px 0;
}
section.ui.grid:nth-child(even)::before {
  position: absolute;
  display: block;
  background: inherit;
  width: 110%;
  height: 130%;
  left: -5%;
  top: -15%;
  transform: rotateZ(-3deg);
  content: '';
}

#team-icon-wrapper{
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 500px;
}

.circle{
  top: 225px;
  left: 225px;
  width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    position: absolute;
    transform-origin: 50% 50%;
}

#circle1 {
    background: blue;
    transform: rotate(0deg) translateY(-225px);
}

#circle2 {
    background: green;
    transform: rotate(72deg) translateY(-225px);
}
#circle3 {
    background: purple;
    transform: rotate(144deg) translateY(-225px);
}
#circle4 {
    background: cyan;
    transform: rotate(216deg) translateY(-225px);
}
#circle5 {
    background: pink;
    transform: rotate(288deg) translateY(-225px);
}
#center-circle {
  top: 210px;
  left: 210px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: red;
}

#general-membership-wrapper{
  padding: 0px 10px 40px 10px;
}

@media screen and (min-width: 800px) {
    #team-info {
      float: right;
      width: calc(100% - 500px);
    }
    #team-icon-wrapper{
      float: left;
    }
    #team-page{
      max-width: 1200px;

    }
}



