@font-face {
    font-family: MuseoSans;
    src: url("assets/fonts/museosans-500.otf");
}

:not(i) {
  font-family: MuseoSans !important;
}

body {
  margin-top: 40px;
}

#general-member-button:hover {
    background-color: #fc0d38;
    color: white;
}
.ui.primary.button {
    background-color: red;
}

section.ui.grid {
  margin: 0;
  width: 100%;
  min-height: 600px;
  padding-top: 60px;
}
.ui.button.custom-red{
  background-color: #eb2e3b;
  color: white;
}
.ui.button.custom-red:hover{
  background-color: #fc0d38;
  color: white;
}

.feed {
  padding: 10px 50px;
  max-height: 400px;
  overflow: auto;
}
.feed > .item {
  height: 85px;
}
.item > .calendar {
  font-size: 2em;
  height: 90px;
  width: 80px;
  border: 4px #000 solid;
  float: left;
  text-align: center;
  border-radius: 5px;
}
.calendar > .month {
  height: 28px;
  background-color: #FC0D38;
  color: #fff;
}
.calendar > .date {
  height: 56px;
  padding: 10px;
}
.item > .description {
  height: inherit;
  margin-left: 90px;
}
.item > .thumbnail {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}


#team-diagram {
  height: 600px;
  width: 600px;
  margin: 0 auto;
}

#epic-logo, #wildhacks-logo, #sprout-logo, #launch-logo, #hacknu-logo, #branding-slice, #bizdev-slice, #tech-slice {
    cursor:pointer;
}

#about {
  position: relative;
}

#about .pictures {
  position: absolute;
  display: block;
  top: 0;
  width: 225px;
}
#about .video{
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}
#about-text{
  text-align: left;
  width: 400px;
}
@media screen and (max-width: 1000px) {
  #about .pictures img {
    display: none;
  }
}
#footer {
  margin: 0px;
  border-radius: 0px;
}
#footer .contact {
  text-align: center;
}
section:nth-child(odd) {
  position: relative;
  background: linear-gradient(to top right, #ed2d39, rgb(219, 40, 40));
  color: #fff;
  margin: 250px 0;
}
section:nth-child(odd)::before {
  position: absolute;
  display: block;
  background: inherit;
  width: 110%;
  height: 130%;
  left: -5%;
  top: -15%;
  transform: rotateZ(-3deg);
  content: '';
}
.logo-image{
  height: 100px;
  width: 100px;
}
#general-member-input{
  margin: 0 auto;
  padding-bottom: 40px;
}
#general-member-button{
  background-color: #eb2e3b;
  border: 0px;
  border-radius: 8px;
  color: white;
}
.custom-colors{
  color: #eb2e3b;
}
.custom-colors:hover {
    color: #fc0d38;
}

#team-info {
  margin: 150px 0;
  float: left;
}

#team-page{
  padding-top: 0px;
  width: 100%;
}

iframe{
  width:560px;
  height:315px;
}

.ui button{
  color: red;
}

#general-membership-wrapper{
  padding: 10px 10px 30px 10px;
}
#general-membership-wrapper h2{
  text-align: center;
  margin: 15px 0px 8px 0px;
}

@media screen and (min-width: 800px) {
    #team-info {
      padding-left: 60px;
      width: calc(100% - 400px);
    }
    #team-page{
      max-width: 1000px;
      margin: 0 auto;
    }
}
@media all and (max-width: 766px) {
    .feed {
      padding: 0px;
    }
    .ui.items > .item > .image.thumbnail{
      width: 300px !important;
    }
    #team-info {
      margin: 50px 0;
    }
    #team-icon-wrapper {
      float: none;
      margin: 0 auto;
    }
}

@media screen and (max-width: 1150px) {
  #about .video{
    display: block;
    width:100%;
  }
  #about-text{
    display: block;
    width: 100%;
  }
  iframe {
    width:400px;
    height:315px;
  }
}
